    <manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="cn.wehax.common"
        android:versionCode="2"
        android:versionName="1.0.0-SNAPSHOT" >

        <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="18" />



</manifest>
